* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  overflow-x: hidden;
}
/* #root {
  overflow: hidden;
} */

.active-link {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.gradientToRight {
  background: linear-gradient(to right, #000 0%, transparent 60%);
}

.avtar {
  display: none;
}

.avtar-parent:hover .avtar {
  display: block;
}

.home-list {
  display: none;
}

.parent-homelist:hover .home-list {
  display: block;
}

.store-list {
  display: none;
}

.parent-storelist:hover .store-list {
  display: block;
}

.parent-card {
  z-index: 0;
}

.parent-card:hover {
  z-index: 30;
  transition: 0.2s all ease-in-out;
  transition-delay: 0.4s;
  transform: scale3d(1.2, 1.2, 1) perspective(500px);
}

.parent-card .child-card {
  transition: 0.2s;
}

.child-card {
  display: block;
}

.parent-card:hover .child-card {
  display: block;
  transition-delay: 0.4s;
}

.home-list {
  display: none !important;
}

.parent-homelist:hover .home-list {
  display: block !important;
}

.change-button {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #aaaaaa 67%,
    #ffffff 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
